/*------------------general-------------------*/
.App-wrap {
  background-color: white; 
}

.App {
  width: 500px; 
  margin: 0 auto; 
  padding: 70px 0; 
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center; 
  color: rgb(17, 57, 77); 
  margin-bottom: 30px; 
}

/*-------------------input-------------------*/ 

input[type=text] {
  height: 50px; 
  width: 501px; 
  font-size: 18px; 
  color: #2F4550; 
  padding-left: 10px; 
  border: 2px solid #586F7C; 
  border-radius: 0; 
}

::placeholder {
  color: lightgray; 
  font-style: italic; 
  font-size: 20px; 
}

/*-------------------list----------------------*/
ul {
  list-style-type: none;
  width: 515px; 
  padding: 0;  
  margin: 0; 
  font-size: 22px;
  box-shadow: 1px 1px 4px 4px #586F7C;  
}

li {
  padding: 15px; 
  border: 1px solid #586F7C; 
  border-top: none;
  color: #2F4550;
}

input[type=checkbox] {
  display: inline-block; 
  margin-right: 15px; 
  font-size: 30px; 
  cursor: pointer;
}

li span {
  display: inline-block; 
  width: 425px; 
  overflow-wrap: break-word; 
}

i {
cursor: pointer;
}

.fa-times {
  color: darkred; 
}

.line-through {
  text-decoration: line-through; 
} 

.gray {
  color: rgb(159, 189, 171); 
}

/*----------bottom summary and buttons--------------*/

.summary {
  width: 483px; 
  font-size: 14px; 
  color: rgb(61, 60, 60); 
  padding: 15px; 
  border: 1px solid gray; 
  border-top: none;
  border-bottom: 2px solid #586F7C; 
  margin-bottom: 100px; 
}

button {
  font-size: 12px;
  color: white; 
  background-color: rgb(17, 57, 77);  
  border: 1px solid #2F4550; 
  border-radius: 5px; 
  margin-left: 2px; 
  cursor: pointer;
}

.status-buttons {
  display: inline-block; 
  margin-left: 20px; 
}

.clear-button {
  display: inline-block; 
  margin-left: 100px; 
}

/*-------------------footer---------------------*/

footer {
  position: fixed; 
  bottom: 10px;
  right: 10px; 
  font-family: 'Indie Flower', cursive;
}

footer p {
  margin: 10px; 
  text-align: right; 
}

/*-------------------@media--------------------*/
@media(max-width: 650px) {
  .App {
    width: 400px; 
    padding: 20px 0; 
  }

  h1 {
    font-size: 28px; 
    margin-bottom: 20px; 
  }

  input[type=text] {
    width: 400px; 
    height: 40px; 
  }

  ::placeholder {
    font-size: 18px; 
  }

  ul {
    width: 414px;
    font-size: 20px; 
    box-shadow: none; 
  }

  li {
    padding: 5px; 
  }

  li span {
    width: 85%;
  }

  .summary {
    width: 390px; 
    padding: 11px; 
    margin-bottom: 50px; 
  }

  .status-buttons {
    margin-left: 15px; 
  }

  .clear-button {
    margin-left: 17px; 
  }

  footer {
    bottom: 1px;
    right: 1px; 
  }

  footer p {
    margin: 0 5px; 
  }
}

@media(max-width: 550px) {
  .App {
    width: 330px; 
  }

  input[type=text] {
    width: 315px; 
  }

  ul {
    width: 330px;
  }

  li span {
    width: 80%;
  }

  .summary {
    width: 306px; 
  }
}