.quote {
  width: 40%; 
  margin: 0 auto 50px auto; 
  border-radius: 5px;  
  text-align: center; 
  font-family: 'Open Sans', sans-serif;
  background-color: white; 
}

.quote-text {
  padding: 70px 60px 20px 60px; 
  font-size: 24px; 
}

.quote-author {
  text-align: right; 
  padding: 0 40px 40px 40px; 
}


