.btn {
  width: 40%; 
  margin: 0 auto; 
  padding-bottom: 170px; 
  font-family: 'Open Sans', sans-serif;
}

button {
  border: 2px solid white; 
  border-radius: 5px; 
  color: white;
  text-align: center;
  font-size: 16px;
  height: 40px;
  cursor: pointer; 
}

.fabBtn {
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

.twitterBtn {
  padding: 7px 10px;
  margin-right: 3px; 
}

.tumblrBtn {
  padding: 7px 13px; 
}

a {
  text-decoration: none; 
  color: inherit; 
}

a:hover {
  font-weight: 800; 
}

button:hover {
  font-size: 18px; 
}

.newQuote {
  width: 110px; 
  margin-left: 250px; 
}
.endnote {
  color: white; 
  padding-top: 30px; 
  font-size: 14px; 
}

